.addproperty {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0.5rem;
    &__title {
        font-size: 1.5rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__form fieldset {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__buttonSubmit {
        color: black;
        border-radius: 1rem;
        padding: 0.5rem
    }
}