
$background_blue: #241E4E;
$background_lightBlue: #BCE0F0;
$background_grey: #EDEDED;

$font_link: #FAF8D4;

$font_grey: #EDEDED;
$font_orange: #FF8811;
$font_blue: #241E4E;
$font_textInput: #75718E;